<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style23.css')}}">
    <script src="{{url_for('static',filename='js/calc.js')}}"></script>
</head>

<body>
    <header class="head">
        <img src="{{url_for('static',filename='web/emo-logo.png')}}">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/loans">Loan</a></li>
                {%if "email" not in session:%}
                <li><a href="/login">Login</a></li>
                {%else%}
                <li><a href="/transactions">Transcations</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/notifications">Notifications</a></li>
                <li><a href="/profile">Profile</a></li>
                {%endif%}
            </ul>
        </nav>
    </header>
    <section class="secnotify">
        {%if rows:%}
        {%for i in rows:%}
        {%if i[0] == 'Approved'%}
        <div class="loan-state1">
            <div class="loan-approve">
                Dear {{i[1]}}, your loan was sucessfully verified, we hope
                you use this loan to fullfill your dreams and acheivements and
                we are glad to help you providing this loan. Use this loan to
                go beyond what you are capable and become a great one. Thanks for bring us in your way.
            </div>
        </div>
        {%else%}
        <div class="loan-state2">
            <div class="loan-reject">
                Dear {{i[1]}}, sorry to say this your loan has been rejected due to some invalid credentials
                you may use this loan to fullfill your dreams and acheivements but sorry
                we are very sad to say this we are unable to providing this loan due to some invalid credentials
                Please try another loan with good documents.
            </div>
        </div>
        {%endif%}
        {%endfor%}
        {%else%}
        <center>
            <img src="{{url_for('static',filename='web/withdraw.jpg')}}" alt="loading...">
            <h1>You don't have any notifications..</h1>
        </center>
        {%endif%}
    </section>


    <footer class="foot">
        <div class="footbg">
            <div class="foot1">
                <h2>Popular Products</h2>
                <ul>
                    <li>Home Loan</li> |
                    <li>Personal Loan</li> |
                    <li>Education Loan</li> |
                    <li>Savings Account</li> |
                    <li>Salary Account</li> |
                    <li>Debit Card</li> |
                    <li>Pre-paid Cards</li>
                </ul>
            </div>
            <div class="foot2">
                <div class="footp1">
                    <ul>
                        <li>Complaint for Failed Digital Transactions</li>
                        <li>RTI Act</li>
                        <li>Verify Check Sum Value</li>
                        <li>Vigilance Overtone Complaints</li>
                        <li>Govt. of India - Cyber Fraud Reporting Portal</li>
                    </ul>
                </div>
                <div class="footp2">
                    <ul>
                        <li>Our Health care Product</li>
                        <li>ASBA</li>
                        <li>Rajbhasha</li>
                        <li>Blocking of Internet Banking</li>
                        <li>Disability / Divyangjan Accessible Branches</li>
                        <li>ATM Accessible to Divyangjans with Braille /
                            Talking ATM Facility</li>
                        <li>Branches with Dedicated Nodal Officer /
                            Counter for providing services</li>
                    </ul>
                </div>
                <div class="footp3">
                    <ul>
                        <li>Udyami</li>
                        <li>Downloads</li>
                        <li>Terms & Conditions</li>
                        <li>Bank Holiday Calendar</li>
                        <li>Help?</li>
                    </ul>
                </div>
            </div>
            <div class="foot3">
                <h1>©2026 Bank Of India. All rights reserved.</h1>
                <p>Site best viewed at 136*768 resolution in Microsoft Edge 105+,
                    Mozilla 105+ and Google Chrome 106+ browser versions.
                </p>
            </div>
        </div>

    </footer>
</body>

</html>