<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style23.css')}}">
    <script src="{{url_for('static',filename='js/calc.js')}}"></script>
</head>

<body>
    <header class="head">
        <img src="{{url_for('static',filename='web/emo-logo.png')}}">
        <nav class="navbar">
            <ul>
                <li><a href="/users">Back</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section class="viewusers">
        <div class="usergrid">
            <div class="userimg">
                <img src="{{row[11]}}" alt="loading">
            </div>
            <div class="usergriddetails">
                <h4>Name: <mark>{{row[1]}}</mark></h4>
                <h4>Date of Birth: <mark>{{row[7]}}</mark></h4>
                <h4>Email: <mark>{{row[4]}}</mark></h4>
                <h4>Mobile No: <mark>{{row[6]}}</mark></h4>
                <h4>Address: <mark>{{row[9]}}</mark></h4>
                <h4>Aadhar No: <mark>{{row[5]}}</mark></h4>
            </div>
            <div class="bankgriddetails">
                <h4>Account No: <mark>7028000{{row[0]}}</mark></h4>
                <h4>Customer Id: <mark>EMOBKID{{row[0]}}</mark></h4>
                <h4>IFSC Code: <mark>EMOK0701011</mark></h4>
                <h4>Branch Name: <mark>TIRUNELVELI TOWN</mark></h4>
                <h4>Branch Address: <mark>228 West Car street, Town Tirunelveli Tamilnadu,Tirunelveli,627006</mark></h4>
                <h4>Branch Tel: <mark>0462-2332342</mark></h4>
            </div>
            <div class="userdoc">
                <h4>Aadhar Doc: <a href="{{row[10]}}">Click here</a></h4>
                <h4>Pan Card Doc: <a href="{{row[13]}}">Click here</a></h4>
            </div>
        </div>
    </section>
    <footer class="foot">
        <div class="footbg">
            <div class="foot1">
                <h2>Popular Products</h2>
                <ul>
                    <li>Home Loan</li> |
                    <li>Personal Loan</li> |
                    <li>Education Loan</li> |
                    <li>Savings Account</li> |
                    <li>Salary Account</li> |
                    <li>Debit Card</li> |
                    <li>Pre-paid Cards</li>
                </ul>
            </div>
            <div class="foot2">
                <div class="footp1">
                    <ul>
                        <li>Complaint for Failed Digital Transactions</li>
                        <li>RTI Act</li>
                        <li>Verify Check Sum Value</li>
                        <li>Vigilance Overtone Complaints</li>
                        <li>Govt. of India - Cyber Fraud Reporting Portal</li>
                    </ul>
                </div>
                <div class="footp2">
                    <ul>
                        <li>Our Health care Product</li>
                        <li>ASBA</li>
                        <li>Rajbhasha</li>
                        <li>Blocking of Internet Banking</li>
                        <li>Disability / Divyangjan Accessible Branches</li>
                        <li>ATM Accessible to Divyangjans with Braille /
                            Talking ATM Facility</li>
                        <li>Branches with Dedicated Nodal Officer /
                            Counter for providing services</li>
                    </ul>
                </div>
                <div class="footp3">
                    <ul>
                        <li>Udyami</li>
                        <li>Downloads</li>
                        <li>Terms & Conditions</li>
                        <li>Bank Holiday Calendar</li>
                        <li>Help?</li>
                    </ul>
                </div>
            </div>
            <div class="foot3">
                <h1>©2026 Bank Of India. All rights reserved.</h1>
                <p>Site best viewed at 136*768 resolution in Microsoft Edge 105+,
                    Mozilla 105+ and Google Chrome 106+ browser versions.
                </p>
            </div>
        </div>

    </footer>
</body>

</html>